{% extends "indexDash.html" %}
{% block content %}

<!--
{% for dataentry in data %}
  <strong>Title:</strong> {{ dataentry }} <br>

<br>
{% endfor %}
-->

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Ask</th>
          <th>Bid</th>
          <th>Last</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for dataentry in data %}
        <tr>
            <td>{{ dataentry[0] }}</td>
            <td>{{ dataentry[1] }}</td>
            <td>{{ dataentry[2] }}</td>
            <td>{{ dataentry[3] }}</td>
            <td>{{ (dataentry[4])[1:7] }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}